

//HEADER
.language-padding{
	padding: 11px;
	}
.language-flag-list{
     vertical-align: text-bottom;
     margin: auto auto;
}
.header-home-link {
	float:left;
	margin:0px;
}
.header-home-icon{
	padding: 0px 15px;
}

//Button Styles
.btn-home{
	color: #fff;
    background-color:$c-darkgray;
    &:hover{
	    color:$c-header-buttons-hover;
    }

}
.sharp {
  border-radius:0;
}
